
.formControl{

}
.formControl.error input{
    border: 1px solid red;
}
.formControl.error span{
    color: red;
}

.divError{
position: absolute;
    padding-left: 30px;
    background-repeat: no-repeat;
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;

}
.divNone{
    display: none;
}
.parentDivError{

    float: right;

}
.divInput{
    float: left;
   width: 100%;
}
